@import '~font-awesome/css/font-awesome.css';

$logo-color: #FF8D2F;

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}

.site-title {
  margin-top: 2em;
  margin-bottom: 2em;
  color: $logo-color;
}

.header-component {
  margin-bottom: 1em;
}

.footer-component {
  margin-top: 2em;
  margin-bottom: 2em;
}
