.skill-component {

  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2.5em;
  grid-row-gap: 1em;

  .skill-rating {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .skill-name {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }


}