.work_experience_element {

  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2.5em;
  grid-row-gap: 1em;

  li {
    margin-bottom: 1em;
  }

  .company_name {
    grid-column: 1;
    grid-row: 1;
    color: #555555;
  }
  .company_city {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    color: #555555;
  }
  .my_position {
    grid-column: 1/3;
    grid-row: 2;
  }
  .what_i_was_doing {
    grid-column: 1/3;
    grid-row: 3;
  }
}