.education-component {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-column-gap: 2.5em;
  grid-row-gap: 1em;

  .university-name {
    grid-column: 1;
    grid-row: 1;
  }

  .university-city {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
  }

  .degree-information {
    grid-column: 1;
    grid-row: 2;
  }

  .graduation-date {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
  }

}