.action-of-benevolance {

  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5em;
  grid-row-gap: 1em;
  margin-bottom: 1em;

  .action-title {
    grid-column: 1/3;
    grid-row: 1;
  }
  .action-date {
    color: #555555;
    grid-column: 4;
    grid-row: 1;
    text-align: right;
  }
  .action-description {
    color: #555555;
    grid-column: 1/5;
    grid-row: 2;
  }
}