@import '../../app';

.category-containers {

  @media only screen and (min-width: 760px) {
    //float: left;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2.5em;
    grid-row-gap: 1em;
  }

}

.resume-section {

  @font-face {
    font-family: 'Aleo';
    src: url("/assets/static/fonts/haxorville/haxorville.ttf");
    src: url("/assets/static/fonts/aleo/Regular/aleo-regular-webfont.eot?#iefix") format('embedded-opentype'),
         url("/assets/static/fonts/aleo/Regular/aleo-regular-webfont.woff2"),
         url("/assets/static/fonts/aleo/Regular/aleo-regular-webfont.woff"),
         url("/assets/static/fonts/aleo/Regular/aleo-regular-webfont.ttf") format('truetype'),
         url("/assets/static/fonts/aleo/Regular/aleo-regular-webfont.svg") format('svg');
  }

  h1 {
    color: #555555;
  }

  h5 {
    color: #555555;
  }

  h5 {
    font-size: 1.5em;
    border-bottom: 2px solid $logo-color;
    display: inline-block;
  }

  h6 {
    font-size: 1.0em;
  }

  p {
    font-size: .8em;
  }

  li {
    color: #555555;
    font-size: .9em;
  }
}

.title {
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
}

.personal-statement {
  grid-column: 1;
  grid-row: 1;
}

.education-component {
  grid-column: 2;
  grid-row: 1;
}

.personal-projects-component {
  grid-column: 2;
  grid-row: 2;
}

.work-experience-component {
  grid-column: 1;
  grid-row: 2/5;
}

.volunteering-component {
  grid-column: 2;
  grid-row: 3;
}

.skills-component {
  grid-column: 2;
  grid-row: 4;
}

.interests-component {
  grid-row: 5;
  grid-column: 1/2;
}