.interests-component {
  .football-interest {
    display: block;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    background: url("/assets/static/images/icons/america-football-11.svg");
  }

  .basketball-interest {

  }

  .music-interest {

  }

  .tech-interest {

  }

  .drawing-interest {

  }

}